body{
    box-sizing: border-box;
    margin: 1%;
    height: 110vh;
    padding: 3%;
    padding-top: 1%;
    background-color: rgba(0, 0, 0, 0.849);
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body > h1{
    color: white;
}

section#formSection{
    border: 1px solid white;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}


/*Navigation bar - Home , Place Order*/
nav{
    height: 7%;
    width: 100%;
    background-color: grey;
}

nav#home_order ul li{
    float: left;
    margin-right: 20px;
    list-style: none;
}
nav#home_order ul{
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    padding-top: 10px;
    margin: 0;
    height: 100%;
}

a{
    color: black;
    font-weight: bold;
}



/* Styling Customer form for beverage Selection*/
form#orderForm{
     width: 30%;
     height: 50%;   
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     align-items: center;   
     color: white;
}

#orderForm div{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-between;
}

#orderForm input[type="submit"]{
    margin-left: auto;
    width: 30%;
    height: 100%;
    font-weight: bold;
}

#orderForm input[type="text"]{
    width: 60%;
    height: 100%;
    color: white;
    background-color: rgba(0, 0, 0, 0.849);
    border: 1px solid white;
}

#orderForm select{
    width: 62%;
    height: 120%;
    color: white;
    background-color: rgba(0, 0, 0, 0.849);
    border: 1px solid white;
}
