body{
    margin: 0;
    width: 100%;
    height: 250vh;
    font-family: Arial, Helvetica, sans-serif;
}

/*Whole Screen*/
section#screen{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*Main Header*/
header#mainHeader{
    width: 100%;
    height: 5%;
    text-align: center;
    background-color: rgb(49, 49, 49);
    color: white;
}



/*Navigation bar - Home , Place Order*/
nav{
    height: 3%;
    width: 100%;
}

nav#home_order ul li{
    float: left;
    margin-right: 20px;
    list-style: none;
}
nav#home_order ul{
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
    padding-top: 10px;
    margin: 0;
    height: 100%;
}


/*Main Footer*/
footer#companyInfo{
    width: 100%;
    height: 20%;
    background-color: rgb(49, 49, 49);
    color: white;
    text-align: right;
}

footer#companyInfo div{
    width: 25%;
    text-align: center;
    margin-left: 75%;
}


/*-Section to display Menu and Queue*/

/*Styling Menu Block*/
section#menu_queue{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(189, 189, 189);
}

.menu_article{
    width: 25%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
    padding-top:0;
}

.menu_section{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.padding{
    box-sizing: border-box;
    padding: 20px;
}

.menu_article h3{
    margin-top: 3%;
}

    /*Box that shows Drink Name*/
.drinkName{
    width: 100%;
    height: 5%;
    background-color: #6eb16e;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}


/*Styling Queues Block*/
            /*Inherited styles from menue_article class*/
.queues_article{
    width: 75%;
}

            /*Inherited styles from menu_section class*/
.queues_section{
    display: flex;
    flex-direction: row;
}

             /*Inherited styles from menue_article class*/
.queues_section > article{
    width: 33.3%;
}

    /*Box Representing the Customer Name and Drink ordered*/
.queues_section > article > .name_drink{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    margin-bottom: 10%;
}

.queues_section > article > .name_drink > .drink{
    height: 75%;
    width: 100%;
    background-color: #5656fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.queues_section > article > .name_drink > .name{
    height: 25%;
    width: 100%;
    background-color: #f7b844;
    display: flex;
    justify-content: center;
    align-items: center;
}